<select id="code_snippet_lang" name="code_snippet[lang]">
	<option value="actionscript">Actionscript</option>
	<option value="applescript">Applescript</option>
	<option value="bash">bash</option>
	<option value="c">C</option>
	<option value="cpp">C++</option>
	<option value="csharp">C#</option>
	<option value="css">CSS</option>
	<option value="diff">Diff</option>
	<option value="erlang">Erlang</option>
	<option value="html">HTML</option>
	<option value="java">Java</option>
	<option value="js">Javascript</option>
	<option value="make">Make</option>
	<option value="objective-c">Obj-C</option>
	<option value="perl">Perl</option>
	<option value="php">PHP</option>
	<option value="python">Python</option>
	<option value="ruby">Ruby</option>
	<option value="sql">SQL</option>
	<option value="xml">XML</option>
	<option value="yaml">YAML</option>
</select>