<% langs = {
	"actionscript" => "Actionscript",
	"applescript" => "Applescript",
	"bash" => "bash",
	"c" => "C",
	"cpp" => "C++",
	"csharp" => "C#",
	"css" => "CSS",
	"diff" => "Diff",
	"erlang" => "Erlang",
	"html" => "HTML",
	"java" => "Java",
	"js" => "Javascript",
	"make" => "Make",
	"objective-c" => "Objective-C",
	"perl" => "Perl",
	"php" => "PHP",
	"python" => "Python",
	"ruby" => "Ruby",
	"sql" => "SQL",
	"xml" => "XML",
	"yaml" => "YAML"
} %>
<select id="code_snippet_lang" name="code_snippet[lang]">
	<% langs.each do |key, val| %>
	<option value="<%= key %>" <%= 'selected=selected' if @code_snippet.lang.downcase.eql?(key) %>><%= val %></option>
	<% end %>
</select>