<h2 id="current_page">/about</h2>

<h3>The Beginning</h3>
<p>
	I was looking for a good way to store colours, code, fonts and links to cool resources, so I decided to build this. I worked on it for about a week or two, then got bored and forgot about it. When I was cleaning out files on my computer, I discovered this little gem and decided to continue working on it.
</p>