<h2 id="current_page">/privacy</h2>

Stashh will never, ever, ever sell, give away or otherwise release your personal information to third parties. What you do on this site stays between you, and me.
