<h2><%= "#{@current_user.login}" %>/recent</h2>

Should the db schema <em>not</em> leverage tables, but rather use one table per user? Calling 'recent' would be far easier if that were the case. Otherwise, I'll have to get the last 10 hits from each table and figure out which ones need to 