@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: normal;
  src: local('Goudy Bookletter 1911'), local('GoudyBookletter1911'), url('http://themes.googleusercontent.com/static/fonts/goudybookletter1911/v2/l5lwlGTN3pEY5Bf-rQEuIM1yrN2lJveIMQB3sFVC2WOglnMp3_3A8V8Ai8YosRtX.woff') format('woff');
}
